<h1> Edit Category </h1>

<%= link_to 'Back to Category Listings', admin_categories_path %>

<%= form_with model: [:admin, @category], local: true do |f| %>

	<%= render "fields", f: f %>

<fieldset>
		<%= f.fields_for :products do |products_form| %>
			<%= render "admin/products/product_fields", f: products_form %>
		<% end %>
</fieldset>
	<%= link_to_add_fields "Add another Product", f, :products %>

	<%= f.submit %>

	<% end %>