<h1> Edit Category </h1>

<div>
	<%= link_to 'Back to Category Listings', admin_categories_path %>
</div>

<%= form_with model: [:admin, @category], class:"was-validated", local: true do |f| %>
	
	<div class="form-group">
		<%= render "fields", f: f %>
	</div>

<div class="form-group">
		<%= f.fields_for :products do |products_form| %>
			<%= render "admin/products/product_fields", f: products_form %>
		<% end %>
	<div>
		<%= link_to_add_fields "Add another Product", f, :products %>
	</div>
</div>


	<div class="form-row">
		<%= f.submit "Update Category Information", {class: "col btn btn-primary"} %>
	<%= link_to 'Back to Category Listings', admin_categories_path, { class: "col btn btn-secondary"} %>

	<% end %>